<div class="container">
<div class="row">
  <form class="col s12" action="/auth/signup" method="post">

    <div class="row">
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate"name="username" placeholder="Username">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" placeholder="Email">
      </div>
    </div>

    <div class="center-btn">
      <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span>LOGIN</a>
      <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">UNA VIDA SIN COLAS TE ESPERA
        <i class="material-icons right">send</i>
      </button>
      <a href="/" class="btn btn-default"><span class="fa fa-user"></span>INICIO</a>
      <br></br>
    </div>

  </form>
</div>
</div>
