<div class="container">
<div class="row">
  <form class="col s12" action="/auth/signup" method="post">

    <div class="row">
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate"name="username" placeholder="Username">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email" placeholder="Email">
      </div>
    </div>

    <div class="center-btn">
      <button class="btn waves-effect waves-light right" type="submit" name="action" value="Submit">REGISTRARME
        <i class="material-icons right">send</i>
      </button>
      <br></br>
    </div>

  </form>
</div>
</div>
