<div class="container">
<h1 class=" fa fa-user center-align">EDITAR USUARIO</h1><br>


    <form action="/user/<%= user._id %>/editUser" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" value="<%= user.username %>">
      </div>
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" value="<%= user.email %>">
      </div>
      <div class="col-sm-4">

    <div class="file-field input-field">
          <div class="btn">
            <span>Selecciona Archivo</span>
            <input id="avatar-1" name="avatar-1" type="file" class="file-loading" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        </div>
      <div>
        <div class="center-btn">
        <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">ACTUALIZAR
          <i class="material-icons right">send</i>
        </button>
        <br></br>
      </div>
      </div>
    </form>
  </div>
</div>
</div>
