<div class="container">
<form id="form" action="/campaign/create" method="POST">
  <input  id="lat" name="lat" placeholder="Latitude" style="visibility:hidden">
  <input  id="lon" name="log" placeholder="Longitude" style="visibility:hidden">
  <label>Título</label><br>
  <input type="text" name="title" placeholder="Título">
  <br><br>
  <label>Descripción</label><br>
  <input type="text" name="description" placeholder="Descripción">
  <br><br>
  <label>¿Por cuanto?</label><br>
  <input type="number" name="price" placeholder="¿Cantidad? Sin tipo de moneda">
  <br><br>
  <label>Municipio</label><br>
  <input type="text" name="city" placeholder="Municipio">
  <br><br>
  <div class="container">
  <div class="center-btn right">
    <button class="btn waves-effect waves-light" type="submit" name="action">CREAR CAMPAÑA
   <i class="material-icons right">send</i></button>
   <br>
  </div>
</div>
  <br></br>
</form>
<input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
<div id="map"></div>
<br></br>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
<script type="text/javascript" src="/javascript/mapAuto.js"></script>
