body {
  padding: 50px;
  font: 60px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  /*background-image: url("../Background.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.titulo{
  font-family: 'Kaushan Script', cursive;
  font-size: 100px;
}

p {
  font-size: 70px;
  color: black;
  font-family: 'Indie Flower', cursive;
}

a {
  font-size: 50px;
  color: blue;
  font-family: 'Indie Flower', cursive;
}

button {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
}
