<form id="form" action="/campaign/create" method="POST">
  <label>Title</label><br>
  <input type="text" name="title" placeholder="Title">
  <br><br>
  <label>Description</label><br>
  <input type="text" name="description" placeholder="Description">
  <br><br>
  <label>Price</label><br>
  <input type="text" name="price" placeholder="Price">
  <br><br>
  <label>City</label><br>
  <input type="text" name="city" placeholder="City">
  <br><br>
  <br>
      <button>Create campaign</button>
</form>
