<div class="container">

<form id="form" action="/review/<%= idCampaign.id %>/create" method="POST">
  <label>Title</label><br>
  <input type="text" name="title" placeholder="Title">
  <br><br>
  <label>Description</label><br>
  <input type="text" name="description" placeholder="Description">
  <br><br>
  <label>Stars</label><br>
  <input type="number" name="stars" placeholder="Stars">
  <br><br>
  <br>
<div class="center-btn">
      <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">MI OPINIÓN
        <i class="material-icons right">send</i>
      </button>
</div
<br></br>
</form>

</div>
