
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Wait For Me!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Una aplicación para que dejes de desesperarte esperando en la cola</h5>
      </div>
      <div class="row center">
        <a href="auth/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Acelera tu vida</h5>

          <p class="light">¿Pasas todo el santo dia en Ironhack programando como un autentico troll? ¡¡¡Nosotros si!!! Y es por ello que venimos a facilitarte la vida.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Malditas Colas</h5>

          <p class="light">En las colas siempre aparecen los mismos individuos: el jubilado que tiene prisa, el ama de casa que "no he hecho la comida", el "sudado" y el que no para de resoplar. No aguantes mas: Wait for me!!!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Wait for ¿qué?</h5>

          <p class="light">Wait for me. Una sencilla app web con la que podras evitar las odiosas colas. Que esperen otros por ti!!!</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¿No te recuerdan a alguien? Deja de ser un pringado</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>¿Me estas tomando el pelo?</h4>
        <p class="left-align light">No, para nada. Las colas son la única expresión
          de orden dentro de la anárquica sociedad, se regulan generalmente solas
          y producen altas dosis de deseperación. Es por eso que creemos que
          alguien debe reducir los niveles de estres por esperar y de este fundamento
          nuestra idea</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">"No malgastes ni un minuto mas haciendo la cola"</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 3"></div>
</div>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascript/materialize.js"></script>
<script src="javascript/init.js"></script>
